.photocontainer{
    
    width:20%;
    height: 1200px;
    position: relative;
    left:995px;
    display: flex;
    flex-direction: column;
    align-items:center;
}
.foodphotos{
    border:2px solid #e6e0e0;
    background-color:#F7F7F7;
    width:90%;
    height: 220px;
    margin:0 0 20px 0;
}