form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
  width: 180px;
  margin-top: 50px;
  font-size: 18px;
  font-weight: bold;
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri;

}
form input {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri;
  font-size: 15px;



}
#fullname {
  height: 35px;
  width: 400px;
  background-color: #ffffff;
  border: 1px solid gray;
  margin-bottom: 10px;
}

#guests {
  height: 35px;
  width: 200px;
  background-color:  #ffffff;
  border: 1px solid gray;
  margin-bottom: 10px;
}

#date {
  height: 35px;
  width: 200px;
  background-color:  #ffffff;
  border: 1px solid gray;
  margin-bottom: 10px;
}

#notes {
  height: 80px;
  width: 400px;
  background-color:  #ffffff;
  border: 1px solid gray;
  margin-bottom: 10px;
  resize: none;
}

#seating {
  /* background-color:  #ffffff;     */
  border: 1px solid black;
  margin-bottom: 40px;
}

#reserve {
  background-color: black;
  color: white;
  padding: 15px 20px;
  text-align: center;
  font-size: 16px;
  border-radius: 5%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}